*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
nav{
width: 100%;
margin: 0px auto 40px auto;
background-color: black;
z-index: 1000;
opacity: 1;
position: sticky;
top: 0px;

}
nav li:hover{
    background-color: rgb(255, 255, 255);
}

nav ul{
    list-style-type: none;
    width: 100%;
    position: relative;
    left: 0;
    right: 0;
    padding: 0%;
}
nav li{
    float: left;
    width: 16.6666666%;
    text-align: center;
    background-color: rgb(0, 0, 0);
    transition-property: background-color;
    transition-duration: .5s;
    margin-bottom: 38px;
}
li > .lm{
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 7px 0px;
    transition: .5s;
    border-bottom: 3px solid black;
}
.lm:hover{
    color: black;
}

.haut{
    display: inline-block;
    vertical-align: top;
    margin: 0%;
}

.resultats{
    width: 300px;
    display: none;
    background: white;
    position: static;
    height: auto;
}
.lia{
    background-color: rgb(255, 255, 255);
}
.a{
    color: black !important;
}

a{
    color: black;
}
.remerciements{
    background-color: rgb(22, 22, 22);
    color: white;
    width: 100%;
    height: 300px;
    position: relative;
    left: 0;
    bottom: 0px;
    margin: none;
}
#mail{
    color: white;
}
html, body{
    margin: 0;
    padding: 0;
}
.alert{
    position: relative;
    left: 30px;
    background-color: rgb(255, 66, 66);
    padding: 10px;
    width: 550px;
    top: -15px;
    border-radius: 3px;

}
#fermerAlerte{
    cursor: pointer;
}
.main {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 22%;
    margin-left: 30px;
}


.lienalgo{
    color: rgb(62, 130, 255);
    text-decoration: none;
    transition: .3s;
    position: relative;
    font-family: monaco;
}
.lienalgo::before{
    content: "";
    width: 100%;
    height: 0%;
    position: absolute;
    left: 0%;
    bottom: 0%;
    background-color: rgb(62, 130, 255);
    transition: .3s;
    z-index: -1;
    opacity: 1;
}
.lienalgo:hover::before{
    height: 100%;
}
.lienalgo:hover{
    color: rgb(255, 255, 255);
}
.img{
    max-width: 100%;
}
.algo{
  font-family: monaco, menlo; width: 100%;
}
